*.pyc
*.swp
*/__pycache__/

.eggs/
archmap.egg-info/
build/
dist/
docs/_build/

tests/output-archmap_users.txt
tests/output-archmap_pretty_users.txt
tests/output-archmap.csv
tests/output-archmap.geojson
tests/output-archmap.kml

tests/interactive_output-archmap_users.txt
tests/interactive_output-archmap.csv
tests/interactive_output-archmap.geojson
tests/interactive_output-archmap.kml
